:root {
    --green: #006A50;
    --light-green: #C6E4D6;
    --moderate-green: #0b9572;
    --gray-black: #0E0E0E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Fira Sans", serif, sans-serif;
    color: rgba(14, 14, 14, 0.8);
    min-height: 100vh;
    margin: 0;
}

/* Typography */
h1,
h2 {
    font-weight: 700;
    color: var(--gray-black);
}

h3,
h4 {
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.5;
}

/* Media and Layout */
img {
    max-width: 100%;
    display: block;
}

.main-content {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header and Navbar */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: #F5F5F5;
}

.navbar {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text a {
    font-family: "Fira Sans", serif, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: var(--gray-black);
}

.signin-btn {
    color: var(--green);
    background: none;
    font-family: "Fira Sans", serif, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    outline: 2px solid var(--green);
    cursor: pointer;
    transition: color 0.3s ease, outline-color 0.3s ease;
}

.signin-btn:hover {
    color: red;
    outline: 1px solid red;
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-green);
    height: 580px;
    border-radius: 24px;
    padding-inline: 60px;
    margin-bottom: 80px;
}

.hero-text-area {
    flex-basis: 53%;
}

.hero p {
    font-family: "Fira Sans", serif, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 24px;
}

.hero button {
    font-family: "Fira Sans", serif, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    background: var(--green);
    padding: 17px 34px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.hero button:hover {
    background: var(--moderate-green);
}

/* Pillars of "Bangladesh 2.0" */

/* Container */
.pillars-cards-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pillars-cards-holder :last-child {
    margin-right: 0;
}

.pillars-card-title {
    font-size: 40px;
    margin-bottom: 32px;
}

/* Individual Cards */
.pillar-card {
    outline: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    margin-right: 24px;
}

/* Card Elements */
.pillars-of-bd2 {
    margin-bottom: 80px;
}

.pillar-card img {
    margin-bottom: 24px;
}

.pillar-card h4 {
    margin-bottom: 12px;
    font-size: 20px;
}

.pillar-card p {
    margin-bottom: 0;
}

/* Vision of Future */

/* Cards Container */
.vision-all-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.vision-all-cards :last-child {
    margin-right: 0;
}

/* Individual Card */
.vision-card {
    outline: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 32px;
    margin-right: 24px;
    outline: none;
}

.vision-card1 {
    background: rgba(84, 144, 245, 0.2);
    flex-basis: 33%;
}

.vision-card2 {
    background: var(--light-green);
    flex-basis: 33%;
}

.vision-card3 {
    background: #F7EBCF;
    flex-basis: 33%;
}


/* Card Elements */
.vision-card img {
    margin-bottom: 24px;
}

.vision-card h4 {
    font-size: 20px;
    margin-bottom: 12px;
}

.vision-card p {
    margin-bottom: 0;
}

.vision-card-text-box {
    margin-bottom: 24px;
}

.vision-card button {
    padding: 11px 20px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.vision-card1 button {
    color: white;
    background: #5490F5;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.vision-card1 button:hover {
    background: #3671d7;
}

.vision-card2 button {
    color: white;
    background: var(--moderate-green);
    transition: color 0.3s ease, background-color 0.3s ease;
}

.vision-card2 button:hover {
    background: #006A50;
}

.vision-card3 button {
    color: white;
    background: #FFC239;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.vision-card3 button:hover {
    background: #f3af12
}





/* Text Box */
.vision-text-box {
    margin-bottom: 32px;
}

.vision-text-box h2 {
    font-size: 40px;
    margin-bottom: 24px;
}

/* Dr. Yunus Section */
.yunus-card {
    outline: 1px solid rgba(14, 14, 14, 0.15);
    padding: 48px 24px;
    border-radius: 16px;
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    background-size: 65px 65px;
    background-position: top 24px left 24px;
    margin-bottom: 80px;
}

.yunus-card p {
    margin-bottom: 12px;
}

.yunus-card h4 {
    margin-bottom: 4px;
}

.yunus-designation {
    color: rgba(14, 14, 14, 0.60);
}


/* Opinion Section */
.your-opinion {
    width: 100%;
    margin-bottom: 80px;
}

.your-opinion h2 {
    font-size: 40px;
    margin-bottom: 56px;
}

/* Opinion Table */
.opinion-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Table Header */
th {
    background: var(--light-green);
    color: var(--gray-black);
    padding: 24px;
    text-align: left;
}

th {
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.t-header {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

/* Table Body */
td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px;
    text-align: left;
    color: var(--gray-black);
    font-weight: 600;
    font-size: 16px;
}

.opinion-table thead {
    outline: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion-table tbody {
    outline: 1px solid var(--gray-black);
    border-top: none;
}

/* Table Header Section for Text Alignment */
.table-header-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-header-text h4 {
    font-weight: 600;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Table Button */
.table-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-black);
    background-color: var(--light-green);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: 1px solid var(--gray-black);
}

.table-btn:hover {
    background-color: var(--moderate-green);
}

.table-btn span {
    margin-left: 8px;
}

.table-btn span img {
    width: 16px;
    height: 16px;
}

.all-news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    margin-bottom: 128px;
}

.news-middle {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 96%;
    margin-bottom: 128px;
}

.news-cover-img {
    border-radius: 24px;
    margin-right: 32px;
}

.news-texts h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}

.news-texts img {
    margin-bottom: 12px;
}

.date-time {
    margin-bottom: 12px;
}

.date-time :first-child {
    margin-right: 12px;
}

.news-texts p {
    margin-bottom: 32px;
}

.news-texts button {
    font-weight: 600;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 8px;
    background: var(--green);
    padding: 13px 26px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.news-texts button:hover {
    background: var(--moderate-green);
}


/* Donation Section */
.donation {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donate-text-box {
    margin-bottom: 32px;
}

.donate-text-box h2 {
    font-size: 40px;
    margin-bottom: 24px;
    text-align: center;
}

.donate-text-box p {
    text-align: center;
}

.money-cards-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.money-card {
    padding: 40px;
    border: none;
    border-radius: 16px;
    outline: 1px solid rgba(14, 14, 14, 0.15);
    margin-right: 24px;
    transition: color 0.3s ease, outline-color 0.3s ease;
}

.money-card:hover {
    outline: 1px solid red;
}

.money-card span {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.money-card-highlight {
    padding: 40px;
    border: none;
    border-radius: 16px;
    outline: 1px solid rgba(14, 14, 14, 0.15);
    margin-right: 24px;
    background: var(--light-green);
}

.money-card-highlight:hover {
    outline: 1px solid red;
}

.money-card-highlight span {
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);

}

/* number input style for Taka */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    border: none;
    outline: none;
    background-color: none;
    font-size: 20px;
    margin-top: 52px;
    margin-bottom: 20px;
    color: rgba(14, 14, 14, 0.30);
}

hr {
    width: 82%;
    height: 0.8px;
    border: none;
    margin: 20px auto;
    margin-bottom: 32px;
    background-color: rgba(14, 14, 14, 0.30);
}

.donation button {
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    background: var(--green);
    padding: 17px 34px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.donation button:hover {
    background: var(--moderate-green);
}


/* Subscirbe Section */
.subscribe-box {
    width: 100%;
    height: 395px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--light-green);
    margin-bottom: 80px;
    border-radius: 24px;
}

.subscribe-box h2 {
    font-size: 40px;
    margin-bottom: 16px;

}

.subscribe-box p {
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.70);
    width: 50%;
    text-align: center;
}

.subscribe-form {
    display: flex;
    align-items: center;
    width: 750px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.subscribe-form input {
    height: 55px;
    width: 600px;
    padding: 0 10px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.30);
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    box-sizing: border-box;
    text-indent: 40px;
}

.subscribe-form button {
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 0 8px 8px 0;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.subscribe-form button:hover {
    background-color: var(--moderate-green);
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}

.footer hr {
    width: 72%;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    margin-right: 0;
}

.social {
    margin-right: 23px;
}

.social-icons :last-child {
    margin-right: 0;
}